---
layout: "/layouts/baseLayout.njk"
title: "404: Nothing to see here"
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="wa-stack wa-align-items-center wa-gap-xl" style="margin-block: var(--wa-space-4xl);">
  <h2 class="wa-heading-4xl" style="text-align: center">
    {{title}} 
  </h2>
    <wa-animated-image 
      src="./public/img/404Error.gif"
      play="true">
    </wa-animated-image>
  <div class="wa-cluster wa-gap-xs">
    <wa-button appearance="plain" href="/index">Go home <wa-icon slot="start" name="arrow-left"></wa-icon></wa-button>
  </div>
</div>