---
layout: /layouts/base.njk
title: My Homepage
---
<div style="margin: 0 auto; max-width: 70ch;">
  <div class="wa-stack">
    <div class="wa-stack wa-gap-xs">
      <h1>Contact</h1>
      <p>Have a love letter? Hate mail? A comment, a question, or an idea worthy of some tinkering. Either way, <b>I'd love to hear from you, so drop me a line!</b> Whether you're a developer, designer, or budding tech nerd, im all ears.</p>
    </div>
    <form class="wa-stack wa-gap-l">
      <div class="wa-grid">
        <wa-input label="First name"></wa-input>
        <wa-input label="Last name"></wa-input>
      </div>
      <wa-input label="Email" type="email"></wa-input>
      <wa-textarea label="What's on your mind?"></wa-textarea>
      <wa-button>Submit</wa-button>
    </form>
  </div>
</div>