---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<div class="wa-stack wa-gap-xl">
  <div class="wa-grid wa-align-items-center">
    <div class="wa-stack wa-gap-2xl">
      <h2>
👋 I'm Anthony, explorer of all things creative and tech.</h2>
      <div class="wa-stack wa-gap-l">
        <div class="wa-flank">
          <div class="wa-stack wa-gap-3xs">
          </div>
        </div>
      </div>
    </div>
    <div class="wa-frame wa-border-radius-l">
      <img
        src="./anthonyCard.JPG"
        alt="Portrait of Anthony Gardés infront of a colorful wall"
      />
    </div>
  </div>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Recent Posts</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}



{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
