<section style="margin-top: 3rem;">
  <wa-divider style="margin-bottom: 2rem;"></wa-divider>
  <script src="https://giscus.app/client.js"
    data-repo="antoes/anthonygardes.com"
    data-repo-id="R_kgDOQoz7Xg"
    data-category="Announcements"
    data-category-id="DIC_kwDOQoz7Xs4C3_t2"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="https://www.anthonygardes.com/public/giscus-theme.css"
    data-lang="en"
    crossorigin="anonymous"
    async>
  </script>
</section>
