---
title: "🩻 Image Test: Testing Images"
author: "Anthony Gardés"
description: "This is a test post checking blog posts with images"
date: 2026-01-04
lastModified: 2026-01-04
tags: ["image", "test"]
---
This is a test post to check how images are handled in blog posts.
Here is an example image:
<div class="wa-frame">
        <img
            src="./pizzaman.png"
            alt="image of pizzaman"
        />
        </div>