<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<script src="https://kit.webawesome.com/2b5f5fbfa4b141d0.js" crossorigin="anonymous"></script>
		<style>{% include "css/index.css" %}</style>
	</head>
	<body>
		<wa-page>
			<header slot="header" style="display: flex; justify-content: center;">
				<div class="wa-stack wa-align-items-center">
					<div class="wa-cluster wa-gap-xl">
						{%- for entry in collections.all | eleventyNavigation %}
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						{%- endfor %}
					</div>
				</div>
			</header>

			<main id="main">
				<heading-anchors>
					{{ content | safe }}
				</heading-anchors>
			</main>

			<footer slot="footer" style="display: flex; justify-content: center;">
				<div class="wa-stack wa-align-items-center">
					<div class="wa-cluster wa-gap-s">
						<wa-button href="www.linkedin.com/in/anthonygardes" appearance="plain" size="large">
							<wa-icon name="linkedin" family="brands" label="Follow on LinkedIn"></wa-icon>
						</wa-button>
					</div>
					<p>Built by Anthony Gardés w/ <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>, Microsoft Azure, and <a href="https://www.webawesome.com">Webawesome!</a></p>
					<p>© 2026 All Rights reserved.</p>
				</div>
			</footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
		</wa-page>
	</body>
</html>
