---
title: "🧪 Networking Lab: Inter-VLAN Routing with Router-on-a-Stick"
author: "Anthony Gardés"
description: "A helpful lab on inter-VLAN routing using the router-on-a-stick method."
hero: "./anthonyGardes-router-on-a-stick.webp"
heroAlt: "imaage of a router on a stick"
date: 2025-11-05
lastModified: 2026-01-03
tags: ["networking", "labs"]
---
<div class="wa-frame">
        <img
            src="{{hero}}"
            alt="{{heroAlt}}"
        />
        </div>

Some content
This is a networking lab focused on inter-VLAN routing using the router-on-a-stick method. In this lab, we will configure a router to route traffic between multiple VLANs on a single physical interface.